body {
  --color-azul: #2196f3;
  --color-negro: #212121;
  --color-gris: #757575;
  --color-blanco: #ffffff;
  --color-gris-claro: #f5f4fa;
  font-family: "Roboto", "arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.1;
  background-color: var(--color-blanco);
}

/* Aqui comienza el header*/

.logo {
  font-family: "raleway", sans-serif;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.3;
  text-decoration: none;
  color: var(--color-azul);
}

.top-page-buttons {
  list-style: none;
}

.top-button {
  font-weight: 500;
  color: var(--color-negro);
  text-decoration: none;
}

.top-button:hover,
.top-button:focus,
.top-button:active {
  color: var(--color-azul);
}

.active {
  color: var(--color-azul);
}

.top-contacts {
  list-style: none;
}

.top-contact {
  font-weight: 500;
  color: var(--color-gris);
  text-decoration: none;
}

.top-contact:hover,
.top-contact:focus {
  color: var(--color-azul);
}

/* Aqui termina el header */

/* Aqui comienza los botones de filtrado */

.portfolio-list {
  list-style: none;
}

.portfolio-list-button {
  font-family: "Roboto", "arial", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.6;
  color: var(--color-negro);
  background-color: var(--color-gris-claro);
  cursor: pointer;
}

.portfolio-list-button:hover,
.portfolio-list-button:focus,
.portfolio-list-button:active {
  background-color: var(--color-azul);
  color: var(--color-blanco);
}

/* Aqui termina los botones de filtrado */

/* Aqui comienza las imagenes (portfolio) */

.portfolio-list-sections {
  list-style: none;
}

.portfolio-list-section {
  border: 1px solid #eeeeee;
}

.portfolio-list-section-link {
  text-decoration: none;
}

.portfolio-list-section-title {
  font-size: 18px;
  font-weight: 900;
  line-height: 2;
  color: var(--color-negro);
  text-decoration: none;
}

.portfolio-list-section-description {
  font-size: 16px;
  line-height: 1.8;
  color: var(--color-gris);
}

/* Aqui termina las imagenes (portfolio) */

/* Aqui comienza seccion heroes (studio-index) */

.top-banner {
  background-color: var(--color-negro);
}

.top-banner-slogan {
  font-size: 44px;
  font-weight: 700;
  line-height: 1.3;
  color: var(--color-blanco);
}

.top-banner-button-request {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.8;
  color: var(--color-blanco);
  background-color: var(--color-azul);
  cursor: pointer;
}

.top-banner-button-request:hover,
.top-banner-button-request:focus {
  background-color: #188ce8;
}

/* Aqui termina seccion heroes (studio-index) */

/* Aqui comienza valores corporativos (studio-index) */

.list-value {
  list-style: none;
}

.title-value {
  font-weight: 700;
  color: var(--color-negro);
}

.text-value {
  line-height: 1.7;
  color: var(--color-gris);
}

/* Aqui termina valores corporativos (studio-index) */

/* Aqui comienza what we do (studio-index) */

.what-we-do-group {
  list-style: none;
}

.what-we-do-title {
  font-size: 36px;
  font-weight: 700;
  color: var(--color-negro);
}

/* Aqui termina what we do (studio-index) */

/* Aqui comienza Our team (studio-index) */

.section-our-team {
  background-color: var(--color-gris-claro);
}

.our-team-list {
  list-style: none;
}

.ot-section-title {
  font-size: 36px;
  font-weight: 700;
  color: var(--color-negro);
}

.our-team-list-item {
  background-color: var(--color-blanco);
}

our-team-title {
  font-size: 16px;
  font-weight: 500;
  color: var(--color-negro);
}

.our-team-charge {
  font-size: 16px;
  color: var(--color-gris);
}

/* Aqui termina Our team (studio-index) */

/* Aqui comienza el footer */

footer {
  background-color: var(--color-negro);
}

.end-infos {
  list-style: none;
}

.address-end-info {
  line-height: 1.7;
  font-style: normal;
  text-decoration: none;
  color: var(--color-blanco);
}

.end-info {
  line-height: 1.7;
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  text-decoration: none;
}

.address-end-info:hover,
.address-end-info:focus,
.end-info:hover,
.end-info:focus {
  color: var(--color-azul);
}
