body {
  margin: 0 auto;
  width: 100%;
  --color-azul: #2196f3;
  --color-negro: #212121;
  font-family: "roboto", "arial", sans-serif;
}

.top-banner {
  width: 100%;
  height: 600px;
  background-color: var(--color-negro);
  font-weight: 700;
  font-size: 44px;
  text-align: center;
  color: #ffffff;
}

a {
  text-decoration: none;
}

.top-nav {
  width: 100%;
  height: 80px;
  background-color: #ffffff;
  border-bottom: 1px solid #ececec;
}

.top-nav ul {
  margin: 0;
  padding: 0;
}

.top-page {
  display: inline-block;
  margin-top: 21px;
}

.logo {
  width: 145px;
  height: 31px;
  font-family: "raleway", sans-serif;
  font-size: 26px;
  color: var(--color-azul);
  margin: 24px 46px 25px 215px;
}

.studio {
  width: 42px;
  height: 16px;
  margin: 32px 30px;
}

.portfolio {
  width: 58px;
  height: 16px;
  margin: 32px 30px;
}

.contacts {
  width: 59px;
  height: 16px;
  margin: 32px 30px;
}

.top-button {
  font-weight: 500;
  font-size: 14px;
  color: var(--color-negro);
}

.top-button:hover {
  color: var(--color-azul);
}

.top-button:focus {
  color: var(--color-azul);
}

.top-contact {
  font-weight: 500;
  font-size: 14px;
  color: #757575;
}

.top-contact:hover {
  color: var(--color-azul);
}

.top-contacts {
  display: flex;
  justify-content: right;
}

button {
  font-weight: 700;
  font-size: 14px;
  color: var(--color-negro);
  background-color: #f5f4fa;
  border: 0;
  border-radius: 4px;
}

button:hover {
  background-color: var(--color-azul);
  color: #ffffff;
}

.filter-button {
  display: inline-block;
}

.work-section {
  width: 370px;
  height: 404px;
  display: inline-block;
  border: 1px solid #eeeeee;
  margin: 15px;
}

.filters-buttons {
  width: 100%;
  display: flex;
  justify-content: center;
}

.all {
  text-align: center;
  width: 73px;
  height: 38px;
  padding: 6px 26px;
}

.web {
  text-align: center;
  width: 128px;
  height: 38px;
  padding: 6px 26px;
}

.apps {
  text-align: center;
  width: 148px;
  height: 38px;
  padding: 6px 53px;
}

.design {
  text-align: center;
  width: 103px;
  height: 38px;
  padding: 6px 26px;
}

.marketing {
  text-align: center;
  width: 130px;
  height: 38px;
  padding: 6px 26px;
}

h3 {
  font-size: 18px;
  font-weight: 900;
  color: var(--color-negro);
  padding: 20px 0 0 24px;
}

p {
  font-size: 16px;
  font-weight: 400;
  color: var(--color-negro);
  padding: 0 0 0 24px;
}

footer {
  width: 100%;
  height: 252px;
  background-color: var(--color-negro);
}

address {
  margin-left: 215px;
  color: #ffffff;
}

.end-info {
  list-style: none;
  font-size: 14px;
  font-style: normal;
}
