body {
  margin: 0;
  padding: 0;
  width: 100%;
  --color-azul: #2196f3;
  --color-negro: #212121;
  font-family: "Roboto", "arial", sans-serif;
  background-color: #ffffff;
  font-size: 14px;
  font-weight: 400;
}

/* Aqui comienza el header*/

.top-page {
  height: 80px;
  border-bottom: 1px solid #ececec;
}

.top-nav ul {
  margin: 0;
  padding: 0;
}

.top-page-button {
  display: inline-block;
}

.logo {
  width: 145px;
  height: 31px;
  font-family: "raleway", sans-serif;
  font-size: 26px;
  font-weight: 700;
  text-decoration: none;
  color: var(--color-azul);
  margin-right: 30px;
}

.top-button {
  font-weight: 500;
  color: var(--color-negro);
  text-decoration: none;
}

.top-button:hover,
.top-button:focus,
.top-button:active {
  color: var(--color-azul);
}

.active {
  color: var(--color-azul);
}

.top-contact {
  font-weight: 500;
  color: #757575;
  text-decoration: none;
}

.top-contact:hover,
.top-contact:focus {
  color: var(--color-azul);
}

/* Aqui termina el header */

/* Aqui comienza los botones de filtrado */

.button {
  font-weight: 700;
  color: var(--color-negro);
  background-color: #f5f4fa;
  border: 0;
  border-radius: 4px;
}

.button:hover,
.button:focus,
.button:active {
  background-color: var(--color-azul);
  color: #ffffff;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.filter-button {
  display: inline-block;
}

/* Aqui termina los botones de filtrado */

/* Aqui comienza las imagenes (portfolio) */

ul.portfolio-list {
  margin: 0;
  padding: 0;
}

.work-section {
  width: 370px;
  height: 404px;
  border: 1px solid #eeeeee;
  margin: 15px;
}

.image-potfolio {
  text-decoration: none;
}

.image-potfolio:hover,
.image-potfolio:focus,
.image-potfolio:active {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.title-images {
  font-size: 18px;
  font-weight: 900;
  color: var(--color-negro);
  padding-left: 20px;
}

.filter-description {
  font-size: 16px;
  color: var(--color-negro);
  padding-left: 20px;
}

/* Aqui termina las imagenes (portfolio) */

/* Aqui comienza seccion heroes (studio-index) */

.top-banner {
  width: 100%;
  background-color: var(--color-negro);
  text-align: center;
}

.slogan {
  font-weight: 700;
  font-size: 44px;
  color: #ffffff;
}

.request {
  width: 261px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  color: #ffffff;
  background-color: var(--color-azul);
  border: 0;
  border-radius: 4px;
  cursor: pointer;
}

.request:hover,
.request:focus {
  background-color: #188ce8;
}

/* Aqui termina seccion heroes (studio-index) */

/* Aqui comienza valores corporativos (studio-index) */

.company-values {
  text-align: center;
}

.company-value {
  list-style: none;
}

.title-value {
  font-weight: 700;
  color: var(--color-negro);
}

.text-values {
  line-height: 1.5em;
  color: var(--color-negro);
}

/* Aqui termina valores corporativos (studio-index) */

/* Aqui comienza what we do (studio-index) */

.wwd {
  width: 100%;
  text-align: center;
}

.wwd-group {
  list-style: none;
}

.wwd-title {
  font-size: 36px;
  font-weight: 700;
}

/* Aqui termina what we do (studio-index) */

/* Aqui comienza Our team (studio-index) */

.ot {
  width: 100%;
  background-color: #f5f4fa;
  margin: 0;
  padding: 0;
}

.ot-section-title {
  font-size: 36px;
  font-weight: 700;
  text-align: center;
}

ul.ot-team-group {
  margin: 0;
  padding: 0;
}

.ot-team {
  background-color: #ffffff;
  display: inline-block;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.ot-title {
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  color: var(--color-negro);
}

.charge {
  font-size: 16px;
  color: var(--color-negro);
  text-align: center;
}

/* Aqui termina Our team (studio-index) */

/* Aqui comienza el footer */

footer {
  width: 100%;
  height: 252px;
  background-color: var(--color-negro);
}

.logo-footer {
  width: 145px;
  height: 31px;
  display: inline-block;
  font-family: "raleway", sans-serif;
  font-size: 26px;
  color: var(--color-azul);
  text-decoration: none;
}

address {
  color: #ffffff;
}

address ul {
  margin: 0;
  padding: 0;
}

.end-infos {
  list-style: none;
}

.end-info {
  font-style: normal;
  color: #ffffff;
  line-height: 1.5em;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.end-info:hover,
.end-info:focus {
  color: var(--color-azul);
}
